.* {
    margin: 0;
    padding: 0;
}


/*
================================================================
FUENTES
================================================================
*/

@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-BdOu.otf);
}

@font-face {
    font-family: Helvetica-Heavy;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Hv.otf);
}

@font-face {
    font-family: Helvetica-Italic;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-It.otf);
}

@font-face {
    font-family: Helvetica-Roman;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Md.otf);
}


/*
================================================================
GENERAL
================================================================
*/

body {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}


/*
================================================================
HEADER (HOME)
================================================================
*/

#labx-header {
    position: relative;
    height: 768px;
    background-image: url(../images/home/PNG/home_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header {
    width: 900px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -450px;
}

.header-logo {
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.header-nav ul {
    position: relative;
}

.header-nav ul li {
    position: relative;
    font-family: Helvetica-Bold;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin-right: 60px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header-nav ul li a:hover {
    color: #ffffff;
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
}

.header-nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header-nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*
================================================================
MENU (NAVBAR)
================================================================
*/

.labx-navbar {
    background-color: #00B7CA;
    position: relative;
    width: 100%;
}

.scrolled .labx-navbar {
    position: fixed;
    top: 0;
    transition: visibility 1s ease-in;
}

.labx-navbar #navbar-logo {
    position: relative;
    width: 227px;
    height: 56px;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.labx-navbar ul {
    position: relative;
    float: right;
    margin: 35 0;
}

.labx-navbar ul li {
    position: relative;
    font-family: Helvetica-Bold;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin-right: 60px;
}

.labx-navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.labx-navbar ul li a:hover {
    color: #283880;
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
}

.labx-navbar ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #283880;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.labx-navbar ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.labx-navbar ul li a p {
    margin: 0;
}


/*
================================================================
QUIENES SOMOS
================================================================
*/

#about-us {
    background-color: #283880;
    color: #ffffff;
    position: relative;
    padding: 50px;
}

#about-us .about-us-title {
    font-family: Helvetica-Heavy;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 15px;
    display: inline-block;
    position: relative;
    width: 400px;
    height: 300px;
}

#about-us .about-us-title p {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -100px;
    text-align: justify;
}

#about-us .about-us-content {
    font-family: Helvetica-Roman;
    font-size: 23px;
    display: inline-block;
    position: absolute;
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -50px;
}

#about-us .about-us-content p {
    position: relative;
    margin: 0 auto;
    text-align: justify;
}