.* {
    margin: 0;
    padding: 0;
}


/*
================================================================
FUENTES
================================================================
*/

@font-face {
    font-family: Helvetica-Bold;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-BdOu.otf);
}

@font-face {
    font-family: Helvetica-Heavy;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Hv.otf);
}

@font-face {
    font-family: Helvetica-Italic;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-It.otf);
}

@font-face {
    font-family: Helvetica-Roman;
    src: url(../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Md.otf);
}


/*
================================================================
GENERAL
================================================================
*/

body {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}


/*
================================================================
HEADER (HOME)
================================================================
*/

#labx-header {
    position: relative;
    height: 768px;
    background-image: url(../images/home/PNG/home_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header {
    width: 900px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -450px;
}

.header-logo {
    position: relative;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.header-nav ul {
    position: relative;
}

.header-nav ul li {
    position: relative;
    font-family: Helvetica-Bold;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin-right: 60px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header-nav ul li a:hover {
    color: #ffffff;
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
}

.header-nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header-nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*
================================================================
MENU (NAVBAR)
================================================================
*/

.labx-navbar {
    background-color: #00B7CA;
    position: relative;
    width: 100%;
}

.scrolled .labx-navbar {
    position: fixed;
    top: 0;
    transition: visibility 1s ease-in;
}

.labx-navbar #navbar-logo {
    position: relative;
    width: 227px;
    height: 56px;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.labx-navbar ul {
    position: relative;
    float: right;
    margin: 35 0;
}

.labx-navbar ul li {
    position: relative;
    font-family: Helvetica-Bold;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin-right: 60px;
}

.labx-navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.labx-navbar ul li a:hover {
    color: #283880;
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
}

.labx-navbar ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #283880;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.labx-navbar ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.labx-navbar ul li a p {
    margin: 0;
}


/*
================================================================
QUIENES SOMOS
================================================================
*/

#about-us {
    background-color: #283880;
    color: #ffffff;
    position: relative;
    padding: 50px;
}

#about-us .about-us-title {
    font-family: Helvetica-Heavy;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 15px;
    display: inline-block;
    position: relative;
    width: 400px;
    height: 300px;
}

#about-us .about-us-title p {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -100px;
    text-align: justify;
}

#about-us .about-us-content {
    font-family: Helvetica-Roman;
    font-size: 23px;
    display: inline-block;
    position: absolute;
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -50px;
}

#about-us .about-us-content p {
    position: relative;
    margin: 0 auto;
    text-align: justify;
}


/*
================================================================
SERVICIOS
================================================================
*/

#servicios {
    background-color: #FFFFFF;
    position: relative;
    margin: 50px 0 50px 0;
    height: 300px;
    ]
}

#servicios .servicios-icons {
    display: inline-block;
    height: 250px;
    position: absolute;
    top: 50%;
    margin: -80px 0 0 0;
}

#servicios .servicios-title {
    display: inline-block;
    float: right;
    position: relative;
    height: 250px;
}

#servicios .servicios-title p {
    font-family: Helvetica-Heavy;
    font-size: 35px;
    color: #283880;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
}

#servicios .servicios-icons .servicio,
#servicios .servicios-icons .separador-cont {
    display: inline-block;
}

#servicios .servicios-icons .servicio {
    font-family: Helvetica-Roman;
    font-size: 25px;
    color: #283880;
    width: 300px;
}

#servicios .servicios-icons .servicio p {
    text-align: center;
    margin-top: 10px;
}

#servicios .servicios-icons .servicio .imagen-servicio {
    position: relative;
    width: 136px;
    margin: 0 auto;
}

#servicios .servicios-icons .separador-cont .separador-servicio {
    height: 250px;
}

#servicios .servicios-title p {
    position: absolute;
    top: 50%;
    margin: 0 0 0 -400px;
}

#servicios .servicios-icons .separador-cont {
    position: absolute;
    top: 50%;
    margin: -170px 0 0 0;
}


/*
================================================================
EQUIPO
================================================================
*/


/*
================================================================
PORTAFOLIO
================================================================
*/

#portafolio {
    position: relative;
    background-image: url(../images/portafolio/PNG/portafolio_fondo.png);
    height: 600px;
}

#portafolio .proyecto-contenedor {
    position: absolute;
    width: 1389px;
    top: 50%;
    left: 50%;
    margin: -270px 0 0 -694.5px;
}

#portafolio .proyecto {
    position: relative;
    display: inline-block;
    width: 443px;
    height: 250px;
    float: left;
    background-color: #000000;
    margin: 10px;
}

#portafolio .box-0 {
    background-color: transparent;
}

#portafolio .box-0 p {
    width: 380px;
    font-family: Helvetica-Heavy;
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -190px;
}

#portafolio .proyecto-contenedor .proyecto .proyecto-info {
    font-family: Helvetica-Heavy;
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: inherit;
    display: none;
}

#portafolio .proyecto-contenedor .proyecto .proyecto-info p {
    padding-top: 15px;
}

#portafolio .proyecto-contenedor .proyecto .proyecto-info .descripcion {
    font-family: Helvetica-Italic;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding: 0;
}

#portafolio .box-1 {
    background-image: url(../images/portafolio/PNG/sites/congresominero.png);
    background-size: cover;
}

#portafolio .box-2 {
    background-image: url(../images/portafolio/PNG/sites/exposupply.png);
    background-size: cover;
}

#portafolio .box-3 {
    background-image: url(../images/portafolio/PNG/sites/foxyevents.png);
    background-size: cover;
}

#portafolio .box-4 {
    background-image: url(../images/portafolio/PNG/sites/panvet.png);
    background-size: cover;
}

#portafolio .box-5 {
    background-image: url(../images/portafolio/PNG/sites/paragon.png);
    background-size: cover;
}